.suppliersContainer {
  display: flex;
  flex-direction: column;
}

.addBtn {
  width: 20%;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  /* overflow-y: scroll; */
  overflow: auto;
}
